@import "tailwindcss";

:root {
  --primary: #d49aae;
  --secondary: #a8542a;
  --textColor: #28150d;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-HeadingColor: var(--textColor);
  --font-montserrat: var(--font-montserrat);
  --font-nuosu-sil: var(--font-nuosu-sil);
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
